<!DOCTYPE html>
<html>
<head>
	<title>option</title>

	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
   
</head>
<body>
	

	<p data-bind="attr:{id:'hahaaga'+1}">hahah</p>
	<h2>Participants</h2>
	Here are the participants:
	<div data-bind="template: { name: 'person-template', foreach: people }"></div>
	
	 
	<script type="text/html" id="person-template">
	    <h3 data-bind="text: name"></h3>
	    <p>Credits: <span data-bind="text: credits"></span></p>
	</script>
	 <script type="text/javascript">
	 function MyViewModel() {
	     this.people = [
	         { name: 'Franklin', credits: 250 },
	         { name: 'Mario', credits: 5800 }
	     ];
	     this.ha = ko.observable("Fd")
	 }
	 ko.applyBindings(new MyViewModel());

	 </script>



</body>
</html>